<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Error</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <link rel="stylesheet"  type="text/css" th:href="@{/style/errorStyle.css}" />

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Error!</h1>
        </div>
        <h2 th:text="${statusCode}"/>
        <p>The page you are looking for does not exist or might be temporarily unavailable.</p>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/Admin/Users}">Go To Homepage</a>
        <a sec:authorize="hasRole('ROLE_INSTRUCTOR')" th:href="@{/Instructor/InstructorCourses}">Go To Homepage</a>
        <a sec:authorize="hasRole('ROLE_STUDENT')" th:href="@{/Student/StudentCourses}">Go To Homepage</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>



    </div>
</div>

</body>

</html>
