<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atypon Uni</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet"  type="text/css" th:href="@{/style/login.css}" />

</head>

<body>





<div class="main">


    <div class="container">
        <div class="logo">Atypon University CI/CD
        </div>

        <center>
            <div class="middle">
                <div id="login">

                    <form th:action="@{/login}" method="POST">

                        <p style="color: green; font-size: 14px;" th:if="${param.error}"
                           class="alert alert-danger"> Login Failed, Wrong Credentials. </p>

                        <p style="color: green; font-size: 14px;" th:if="${param.logout}"
                           class="alert alert-success"> You have been logged out. </p>

                        <fieldset class="clearfix">

                            <p ><span class="fa fa-user"></span><input id="email" type="text" name="email" Placeholder="Email" required></p>
                            <p><span class="fa fa-lock"></span><input id="password" type="password" name="password" Placeholder="Password" required></p>

                            <div>
                                <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
                            </div>

                        </fieldset>
                        <div class="clearfix"></div>
                    </form>

                    <div class="clearfix"></div>

                </div>
                <div class="logo">
                    <img src="https://raw.githubusercontent.com/MamounH/Logo/main/AtyponLogo-RemovedBG.png" class="img img-responsive img-circle center-block"/>

                    <div class="clearfix"></div>
                </div>

            </div>
        </center>
    </div>

</div>
</body>
</html>